<div id="plan-<%= plan.id %>">
  <span class="favorite">
    <% if plan.good?(current_user) %>
      <%= link_to plan_favorites_path(plan_id: plan.id), {method: :delete, remote: true} do %>
        <i class="fa fa-heart fa-2x" aria-hidden="true" style="color: red;" ></i>
        <%= content_tag :span, "#{plan.favorites_count}" %>
      <% end %>
    <% else %>
        <%= link_to  plan_favorites_path(plan_id: plan.id), {method: :post, remote: true} do %>
          <i class="far fa-heart fa-2x" aria-hidden="true"></i>
          <%= content_tag :span, "#{plan.favorites_count}" %>
        <% end %>
      <% end %>
  </span>
</div>
