<div class="panel panel-default">

  <div class="panel-heading">
    登録必須項目
  </div>

  <div class="panel-body">
    <ul class="sidebar-list">
      <li class="sidebar-item">
        <%= link_to "プロフィール", profile_user_path, class: "sidebar-link active" %>
        <% if !@user.fullname.blank? && !@user.email.blank? %>
        <span class="pull-right text-babu"><i class="fas fa-check"></i></span>
        <% end %>
      </li>
      <li class="sidebar-item">
        <%= link_to "自己紹介", description_user_path, class: "sidebar-link active" %>
        <% if !@user.description.blank? %>
          <span class="pull-right text-babu"><i class="fas fa-check"></i></span>
        <% end %>
      </li>
      <li class="sidebar-item">
        <%= link_to "画像アップロード", photo_upload_user_path, class: "sidebar-link active" %>
        <% if !@user.image_id.blank? %>
          <span id="photo_check" class="pull-right text-babu"><i class="fas fa-check"></i></span>
        <% end %>
      </li>
      <li class="sidebar-item">
        <%= link_to "お気に入り", favorite_store_user_path, class: "sidebar-link active" %>
        <% if !@user.favorite_store.blank? && !@user.jenre_id.blank? %>
          <span class="pull-right text-babu"><i class="fas fa-check"></i></span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<hr/>


<% if @user.active == false %>
  <%= form_for @user do |f| %>
    <%= f.hidden_field :active, value: true %>
    <%= f.submit "プロフィールを公開する", id: "publish_button", class: "btn btn-normal btn-block" %>
  <% end %>
<% else %>
  <%= link_to "マイページへ行く", user_path(current_user), class: 'btn btn-normal' %>
<% end %>
