<div class="row">
  <div class="col-md-3">
    <div class="center">

    </div>
    <div class="panel panel-default">
      <div class="panel-heading">ようこそ!  <%= @user.fullname %> 様</div>
      <div class="panel-body">
        <div class="image-wrapper">
          <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image.png", size:'100x100', class: "img-circle" %><br/><br/>
        </div>
        <ul class="sidebar-list user-info">
          <li>E-mail: <span class="pull-right icon-babu"><i class="fas fa-envelope"></i></span><%= @user.email %></li>
          <li>職業: <span class="pull-right icon-babu"><i class="fas fa-user-md"></i></span><%= @user.job %></li>
          <li>好きなジャンル: <span class="pull-right icon-babu"><i class="fas fa-utensils"></i></span><%= @user.jenre.name %></li>
          <li>好きなお店: <span class="pull-right icon-babu"><i class="fas fa-utensils"></i></span><%= @user.favorite_store %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <h2><%= @user.fullname %></h2>

    <div class="description row-space-3">
      <%= @user.description %>
    </div>

    <h4>Listings</h4><br/>

  </div>
</div>
