
<!-- Main Visual -->
<div class="bg">
  <p class='bg-text1'>毎日をドラマティックに！</P>
  <p class='bg-text2'>食事を通じてあなたに最高の出会いを</p>
  <!-- Search From -->
  <%= form_tag search_path, method: :get do %>
    <div class="row row-space-3 search-form">
      <div class="col-md-6">
        <%= text_field_tag :search, params[:search], placeholder: "興味のある場所を入力", class: "form-control", required: true %>
      </div>
      <div class="col-md-3">
        <%= text_field_tag :plan_date, params[:plan_date], placeholder: "プラン開催日", class: "form-control datepicker" %>
      </div>
      <div class="col-md-3">
        <%= text_field_tag :period_time, params[:period_time], placeholder: "時間帯", class: "form-control" %>
      </div>
    </div>
    <br/><br/>

    <div class="row">
      <div class="col-md-offset-4 col-md-4 search-bt">
        <%= submit_tag "Search", class: "btn btn-normal btn-block" %>
      </div>
    </div>
  <% end %>
</div>


<div class="container">

    <br/><br/>

    <!-- CITIES -->
  <div><h3>人気のエリアから探す</h3></div>
  <br/>

  <div class="row">
    <div class="col-md-3 col-sm-12">
      <h4>新宿</h4>
      <a href="https://780e7a24.ngrok.io/search?utf8=%E2%9C%93&search=%E6%96%B0%E5%AE%BF">
        <div class="discovery-card1"></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-12">
      <h4>渋谷</h4>
      <a href="https://42ada731.ngrok.io/search?utf8=%E2%9C%93&search=%E6%B8%8B%E8%B0%B7">
        <div class="discovery-card2"></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-12">
      <h4>六本木</h4>
      <a href="https://42ada731.ngrok.io/search?utf8=%E2%9C%93&search=%E6%9D%B1%E4%BA%AC">
        <div class="discovery-card3"></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-12">
      <h4>東京・丸の内</h4>
      <a href="https://42ada731.ngrok.io/search?utf8=%E2%9C%93&search=%E5%85%AD%E6%9C%AC%E6%9C%A8">
        <div class="discovery-card4"></div>
      </a>
    </div>
  </div>

  <br/><br/>

  <div><h3>人気のジャンルから探す</h3></div>
  <br/>

  <div class="row">
    <div class="col-md-3 col-sm-12">
      <h4>寿司</h4>
      <%= link_to root_path do %>
        <div class="jenre-card1"></div>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-12">
      <h4>ステーキ・焼肉</h4>
      <%= link_to root_path do %>
        <div class="jenre-card2"></div>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-12">
      <h4>イタリアン</h4>
      <%= link_to root_path do %>
        <div class="jenre-card3"></div>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-12">
      <h4>フレンチ</h4>
      <%= link_to root_path do %>
        <div class="jenre-card4"></div>
      <% end %>
    </div>
  </div>


  <br/><hr/><br/>


    <!-- PLANS -->
    <div><h3>プラン一覧</h3></div>
    <br/>

    <div class="row">
      <% @plans.each do |plan| %>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading preview">
              <%= image_tag "#{plan.restaurant.image_url}", size: '200x200'  %>
            </div>
            <div class="panel-body">
              <%= link_to plan.title, plan %><br/>
              ¥<%= plan.price %>&nbsp;&nbsp;
              <%= plan.status %>
            </div>
          </div>
        </div>
    <% end %>
    </div>
</div>





<script>
  $(function(){

      $('#plan_date').datepicker({
        dateFormat: 'yy-mm-dd',
        minDate: 0,
        maxDate: '3m',
      });
    });

</script>
