<div class="container row-space-4">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><%= current_user.fullname %> 様</div>
        <div class="panel-body">
            <div class="image-wrapper">
              <%= attachment_image_tag current_user, :image, :fill, 100, 100, fallback: "no_image.png", size:'100x100', class: "img-circle" %><br/><br/>
            </div>
            <ul class="sidebar-list user-info">
              <li>E-mail: <span class="pull-right icon-babu"><i class="fas fa-envelope"></i></span><%= current_user.email %></li>
              <li>職業: <span class="pull-right icon-babu"><i class="fas fa-user-md"></i></span><%= current_user.job %></li>
              <li>好きなジャンル: <span class="pull-right icon-babu"><i class="fas fa-utensils"></i></span><%= current_user.jenre.name %></li>
              <li>好きなお店: <span class="pull-right icon-babu"><i class="fas fa-utensils"></i></span><%= current_user.favorite_store %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9">

      <!-- Notification -->
      <div class="panel panel-default">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">
            <%= link_to notifications_path do %>
                You have <span id="num_of_unread"><%= current_user.unread %></span> notification(s).
            <% end %>
        </div>
      </div>

      <!-- Favorites -->
      <div class="panel panel-default">
        <div class="panel-heading">
          お気に入り一覧
        </div>
        <div class="panel-body">

          <% @favoPlans.each do |f| %>
            <div class="row">
              <div class="col-md-2">
                <%= f.plan.plan_date %>
              </div>
              <div class="col-md-2">
                <%= link_to plan_path(f.plan) do %>
                  <% if f.plan.restaurant.image_url.present? %>
                    <%= image_tag "#{f.plan.restaurant.image_url}", size: '100x100'  %>
                  <% else %>
                    <%= attachment_image_tag f.plan.photos[0], :image, :fill, 100, 100 %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-md-5">
                <%= link_to f.plan.title, plan_path(f.plan) %><br/><br/>
                <span>
                  <%= attachment_image_tag f.plan.user, :image, :fill, 40, 40, fallback: "no_image.png", size:'40x40', class: "img-circle" %>
                  <%= link_to user_path(f.plan.user) do %>
                      <%= f.plan.user.fullname %>
                  <% end %>
                </span>
              </div>
              <div class="col-md-2">
                <%= f.plan.status %>
              </div>
            </div>
            <hr/>
          <% end %>
        </div>
      </div>

      <!-- Your Plans -->
      <h4 class="row-space-3">ホストプラン一覧 (<%= @plans.length %>)</h4>
      <div class="row">
        <%= render partial: "plans/plan_list", locals: {plans: @plans} %>
      </div>

    </div>
  </div>
</div>
