<ul class="sidebar-list">
  <li class="sidebar-item">
    <%= link_to "プラン情報", listing_plan_path, class: "sidebar-link active" %>
    <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
  </li>
  <li class="sidebar-item">
    <%= link_to "プラン店舗情報", rest_info_plan_path, class: "sidebar-link active" %>
      <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
  </li>
  <li class="sidebar-item">
    <%= link_to "プラン紹介", description_plan_path, class: "sidebar-link active" %>
      <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
  </li>
  <li class="sidebar-item">
    <%= link_to "イメージ画像", photo_upload_plan_path, class: "sidebar-link active" %>
      <span id="photo_check" class="pull-right text-babu"><i class="fa fa-check"></i></span>
  </li>
  <li class="sidebar-item">
    <%= link_to "プラン日時", time_info_plan_path, class: "sidebar-link active" %>
    <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
  </li>
</ul>
<hr/>
